{% extends "base_layout.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ header }}</h1>
        
        <div class="info-block">
            <h2>Director</h2>
            <p>Name: {{ director.name }}</p>
            <img src="{% static 'images/director.jpg' %}" alt="Director's Image" class="director-img">

            <h2>Address</h2>
            <p>{{ address.0 }}, {{ address.1 }}, {{ address.2 }}, {{ address.3 }}</p>

            <h2>Staff</h2>
            <ul>
                <li>{{ staff.0 }}</li>
                <li>{{ staff.1 }}</li>
                <li>{{ staff.2 }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
